/* Privacy.css */

/* Style for the main container */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Style for the heading */
  h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  h3 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  
  /* Style for the paragraphs */
  p {
    font-size: 18px;
    line-height: 1.6;
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  /* Style for links */
  a {
    color: #BA55D3;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  