/* Terms.css */

/* Style for the main container */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: ${({theme}) => theme.spacing(3)};
}

/* Style for the heading */
h1 {
  ${({theme}) => theme.typography.h2};
  margin-bottom: ${({theme}) => theme.spacing(2)};
}

h3 {
  ${({theme}) => theme.typography.h4};
  margin-top: ${({theme}) => theme.spacing(4)};
  margin-bottom: ${({theme}) => theme.spacing(2)};
}

/* Style for the paragraphs */
p {
  ${({theme}) => theme.typography.body1};
  margin-bottom: ${({theme}) => theme.spacing(3)};
}

/* Style for links */
a {
  color: ${({theme}) => theme.palette.primary.main};
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
