.contactContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: ${({ theme }) => theme.spacing(3)};
}

.socialLinks {
  margin-top: ${({ theme }) => theme.spacing(2)};
}
