.galleryContainer {
    padding: 16px;
    text-align: center;
  }
   
  .galleryTitle {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 16px;
  }
   
  .gallerySubtitle {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 24px;
  }
  