.footer {
    background-color: #000000;
    color: #f7f7f7;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .footer p {
    margin: 0;
  }
  
  .footer a {
    color: #f7f7f7;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  